[run]
branch = True
source = src/simplify
omit =
    */src/simplify/_version.py
    */src/simplify/__init__.py
    */src/simplify/benchmark.py
    */src/simplify/exceptions.py
    */src/simplify/cli/__init__.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
